<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include 'global/partials/_head.html' %}
  <title>{% block title %}{% endblock title %} Recipes</title>
</head>

<!-- vinculado ao _head.html -->
{% include 'global/partials/_head.html' %}

<body>
  <!-- vinculado ao _header.html -->
  {% include 'global/partials/_header.html' %}

  <!-- vinculado ao _search.html -->
  {% include 'global/partials/_search.html' %}

  <main class="main-content-container">
    <!-- cria o bloco de conteudo, mudando a pagina somente o bloco content -->
    {% block content %}{% endblock %}
  </main>

  <!-- vinculado ao _footer.html -->
  {% include 'global/partials/_footer.html' %}
</body>

</html>