<!DOCTYPE html>
<html lang="pt-br">

<!-- vinculado ao _head.html -->
{% include 'recipes/partials/_head.html' %}

<body>
  <!-- vinculado ao _header.html -->
  {% include 'recipes/partials/_header.html' %}

  <!-- vinculado ao _search.html -->
  {% include 'recipes/partials/_search.html' %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">

      <!-- vinculado ao _recipe.html -->
      {% include 'recipes/partials/_recipe.html' %}
      
    </div>
  </main>

  <!-- vinculado ao _footer.html -->
  {% include 'recipes/partials/_footer.html' %}

</body>

</html>