<!DOCTYPE html>
<html lang="pt-br">

<!-- vinculado ao _head.html -->
{% include 'recipes/partials/_head.html' %}

<body>
  <!-- vinculado ao _header.html -->
  {% include 'recipes/partials/_header.html' %}

  <!-- vinculado ao _search.html -->
  {% include 'recipes/partials/_search.html' %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">
      <div class="recipe recipe-list-item">
        <div class="recipe-cover">
          <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
        </div>
      </div>
    </div>
  </main>
</body>

</html>